.typingContainer {}

.wrap {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.focus {
  position: absolute;
  visibility: visible;
  opacity: 1;
  transition: visibility, opacity .3s ease-in-out;
}


.words {
  display: flex;
  flex-wrap: wrap;
  gap: 2px 8px;
  font-family: 'Ubuntu Mono Regular';
  font-size: 20px;
  filter: none;
  transition: filter .3s ease-in-out;
}

.blured {
  filter: blur(4px);
}

.result {
  position: absolute;
}

.caret {
  position: absolute;
  height: 23px;
  background-color: #e2b714;
  width: 2px;
  border-radius: .5rem;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}