@keyframes blink {
  50% {
    opacity: 0;
  }
}

.typingContainer {
  max-width: 850px;
  margin: 70px auto 0;
}

.wrap {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.focus {
  position: absolute;
  visibility: visible;
  opacity: 1;
  transition: visibility, opacity .3s ease-in-out;
}


.words {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 2px 8px;
  font-family: 'Ubuntu Mono Regular';
  font-size: 20px;
  filter: none;
  transition: filter .3s ease-in-out;
}

.blured {
  filter: blur(4px);
}

.result {
  position: absolute;
}

.word {
  display: flex;
  margin: 0 2px;
}

.input {
  font-size: 16px;
  opacity: 0;
  cursor: default;
  position: absolute;
}

.caret {
  position: absolute;
  height: 23px;
  background-color: #e2b714;
  width: 2px;
  border-radius: .5rem;
  animation: blink 1.5s steps(1) infinite;
  transition: top, left .1s ease-in-out;
  opacity: 1;
}

.letter {
  color: black;
  min-width: 5px;
  margin: 0;
}

.valid {
  color: greenyellow;
}

.invalid {
  color: red;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}